html[dir="ltr"] .MyProjeto


.ButtonDecente {
    margin-top: 10px;
    margin-left: 20rem;
}
.ButtonDecente2{
    margin-top:10px;
    margin-left: 10px;
}

.ButtonDecente3{
  margin-left:10px;
  margin-top:0px;
}