
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/lib~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="text-center" style="margin-top:10rem;">
<h1 class="text-center" style="margin-top:25px">Olá, Sejam Bem-vindos!</h1>

<a class="btn btn-primary text-center" style="margin-top:20px" asp-action="Clientes" asp-controller="Cliente">Iniciar</a>
</div>